<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>

    <!--prueba-->
    <bindings>
      <webHttpBinding>
        <binding name="Binding" crossDomainScriptAccessEnabled="true">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="httpbind" crossDomainScriptAccessEnabled="true">
        </binding>
      </webHttpBinding>
    </bindings>
    <client />
    <services>
      <service name="W_S.Service1"  behaviorConfiguration="ServiceBehaviour">
        <!--<endpoint address="" binding="webHttpBinding" bindingConfiguration="Binding" contract="Wcf.App.IService1" behaviorConfiguration="web">
        </endpoint>-->
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="httpbind" contract="W_S.IService1" behaviorConfiguration="web">
        </endpoint>
      </service>

      <!--service cliente-->
      <service name="W_S.WS_Cliente"  behaviorConfiguration="ServiceBehaviour">
        <!--<endpoint address="" binding="webHttpBinding" bindingConfiguration="Binding" contract="Wcf.App.IService1" behaviorConfiguration="web">
        </endpoint>-->
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="httpbind" contract="W_S.IWS_Cliente" behaviorConfiguration="web">
        </endpoint>
      </service>
      <!--fin service cliente-->

    </services>
    <!--fin prueba-->

    <behaviors>
      <serviceBehaviors>

        <!--behaviors agregados-->
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="web">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!--fin behaviors agregados-->

        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>

      <!--endpoint behaviors-->
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <!--fin endpoint behaviors-->

    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>


    <!-- para que sirva-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
    <!--fin para que sirva-->
    
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>-->

  </system.webServer>

</configuration>
