<div class="outerCard">
  <div class="topPanel">
    <button class="prevYearButton">
      <i class="arrow left"></i>
    </button>
    <span class="yearLabel">CURRENT YEAR</span>
    <button class="nextYearButton">
      <i class="arrow right"></i>
    </button>
  </div>
  <div class="contentPanel">
    <div class="monthItem">
      <div class="monthItemHighlight">
        MON
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
$(function() {

$('input[name="datefilter"]').daterangepicker({
  autoUpdateInput: false,
  locale: {
      cancelLabel: 'Clear'
  }
});

$('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
  $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
});

$('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
  $(this).val('');
});

});
</script>
