<div class="account-page">
    <div class="container">
        <div class="row justify-content-center">

            <form reportForm="ngForm" novalidate>

                <div class="float-center">
                    <h5>Tipo de reporte</h5>

                    <select #reportName="ngModel" class="custom-select" name="reportName" [(ngModel)]="auxN"
                        (blur)="validateReportType(auxN)" (change)="validateReportType(auxN)"
                        [class.is-invalid]="reportHasError && reportName.touched">
                        <!--<option value="default">Reporte</option>-->
                        <option value="insumos">Insumos</option>
                        <option value="pedidos">Pedidos</option>
                        <option value="entrada">Entradas de insumos</option>
                        <option value="comparativo">Comparativo de insumos</option>
                    </select>

                </div>
                <div>

                    <div>
                        <br><h5>Rango</h5>
                    </div>
                    <table class="table table-striped table-responsive">
                        <thead>
                            <th>
                                Primer Fecha
                            </th>
                            <th>
                                Segunda Fecha
                            </th>
                        </thead>
                        <tr>
                            <td>
                                <input type="date" class="form-control" #R1PF="ngModel" [(ngModel)]="R1D1" name="firstRangeFirstDate">
                            </td>
                            <td>
                                <input type="date" class="form-control" #R1SF="ngModel" [(ngModel)]="R1D2" name="firstRangeSecondDate">
                            </td>
                        </tr>
                    </table>
                </div>

                <div *ngIf="auxN === 'comparativo'">
                    <div>
                        <br><h5> Segundo Rango</h5>
                    </div>
                    <table class="table table-striped table-responsive">

                        <thead>
                            <th>
                                Primer Fecha
                            </th>
                            <th>
                                Segunda Fecha
                            </th>
                        </thead>
                        <tr>
                            <td>
                                <input type="date" class="form-control" #R2PF="ngModel" [(ngModel)]="R2D1" name="secondRangeFirstDate">
                            </td>
                            <td>
                                <input type="date" class="form-control" #R2SF="ngModel" [(ngModel)]="R2D2" name="secondRangeSecondDate">
                            </td>
                        </tr>
                    </table>
                </div>

                {{objInputReport | json}}

                <br>
                {{auxN}}
                {{objOrderReport | json}}
                <!--
                <button type="button" class="btn btn-success" (click)=" inputRequestForm.reset()"
                            data-toggle="modal" data-target="#requestModal">
                            -->
                <button *ngIf="auxN === 'insumos'" [disabled]="reportForm.form.invalid" type="button" class="btn btn-success" 
                data-toggle="modal" data-target="#inputReportModal"
                (click)="getInputReport()">Generar
                    reporte</button>
                
                <button *ngIf="auxN === 'pedidos'" [disabled]="reportForm.form.invalid" type="button" class="btn btn-success" 
                data-toggle="modal" data-target="#orderReportModal"
                (click)="getOrderReport()">Generar
                    reporte</button>
                <!--
                <button *ngIf="auxN === 'entrada'" [disabled]="reportForm.form.invalid" type="button" class="btn btn-success" 
                data-toggle="modal" data-target="#reportModal"
                (click)="getReport()">Generar
                    reporte</button>
                -->
                <button *ngIf="auxN === 'comparativo'" [disabled]="reportForm.form.invalid" type="button" class="btn btn-success" 
                data-toggle="modal" data-target="#comparativeReportModal"
                (click)="getInputComparativeReport()">Generar
                    reporte</button>
            </form>

        </div>
    </div>
</div>

<!-- Report modal -->
<!-- Modal start -->

<div class="modal fade" id="inputReportModal" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="reportModallabel1">Detalles del reporte de insumos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>

            <div class="modal-body">
                <form #reportForm="ngForm"  novalidate>
                    <div class="form-group">
                        <div class="tab-header clearfix">
                            <div class="float-left">
                            </div>
                        </div>
                    </div>
                    <div >
                        <img src="{{objInputReport.infoPaisMio.logo}}" class="rounded mx-auto d-block" width="40%" width="40%">
                    </div>
                    <table class="table table-striped table-responsive">
                        <thead>
                            <h5>
                                {{objInputReport.infoPaisMio.nombre}}
                            </h5>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    Cedula
                                </th>
                                <td>
                                   {{objInputReport.infoPaisMio.cedulaJuridica}}
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    Dirección
                                </th>
                                <td>
                                    {{objInputReport.infoPaisMio.direccion}}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Telefono
                                </th>
                                <td>
                                    {{objInputReport.infoPaisMio.telefono}}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Correo
                                </th>
                                <td>
                                    {{objInputReport.infoPaisMio.correo}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="objInputReport.listaInsumos.length === 0">
                        <h5>
                            Del {{objInputReport.fechaInicio | date: 'dd/MM/yyyy'}} Al {{objInputReport.fechaFinal | date: 'dd/MM/yyyy'}}
                        </h5>
                        <h6>
                            No hay datos para mostrar
                        </h6>
                    </div>
                    <div id="pdfReport" #pdfReport>
                        <table class="table table-striped table-responsive" *ngIf="objInputReport.listaInsumos.length > 0">
                            <thead>
                                <h5>
                                    Del {{objInputReport.fechaInicio | date: 'dd/MM/yyyy'}} Al {{objInputReport.fechaFinal | date: 'dd/MM/yyyy'}}
                                </h5>
                            </thead>
                            <tbody>
                                <th>Nombre de Insumo</th>
                                <th>Cantidad Descartada</th>
                                <th>Cantidad Consumida</th>
                                <th>Total</th>
                                <tr *ngFor="let item of objInputReport.listaInsumos">
                                    
                                    <td>
                                        {{item.insumo.nombre}}
                                    </td>
                                    <td>
                                        {{item.cantidadDescartada}}
                                    </td>
                                    <td>
                                        {{item.cantidadConsumida}}
                                    </td>
                                    <td>
                                        {{item.total}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                    
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="reportForm.reset()"
                    data-dismiss="modal">Cerrar</button>
                <button [disabled]="reportForm.form.invalid" type="submit" class="btn btn-primary" data-dismiss="modal"
                    (click)="openPDF()">Ver en PDF</button>
            </div>

        </div>
    </div>
</div>
<!-- Modal end -->

<!--Modal start-->
<!-- Modal Order Report -->
<div class="modal fade" id="orderReportModal" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="reportModallabel1">Detalles del reporte de pedidos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>

            <div class="modal-body">
                <form #orderReportForm="ngForm"  novalidate>
                    <div class="form-group">
                        <div class="tab-header clearfix">
                            <div class="float-left">
                            </div>
                        </div>
                    </div>
                    <div >
                        <img src="{{objOrderReport.infoPaisMio.logo}}" class="rounded mx-auto d-block" width="40%" width="40%">
                    </div>
                    <table class="table table-striped table-responsive">
                        <thead>
                            <h5>
                                {{objOrderReport.infoPaisMio.nombre}}
                            </h5>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    Cedula
                                </th>
                                <td>
                                   {{objOrderReport.infoPaisMio.cedulaJuridica}}
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    Dirección
                                </th>
                                <td>
                                    {{objOrderReport.infoPaisMio.direccion}}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Telefono
                                </th>
                                <td>
                                    {{objOrderReport.infoPaisMio.telefono}}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Correo
                                </th>
                                <td>
                                    {{objOrderReport.infoPaisMio.correo}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="objOrderReport.listaPedidos.length === 0">
                        <h5>
                            Del {{objOrderReport.fechaInicio | date: 'dd/MM/yyyy'}} Al {{objOrderReport.fechaFinal | date: 'dd/MM/yyyy'}}
                        </h5>
                        <h6>
                            No hay datos para mostrar
                        </h6>
                    </div>
                    <div id="pdfOrderReport" #pdfOrderReport>
                        <table class="table table-striped table-responsive" *ngIf="objOrderReport.listaPedidos.length > 0">
                            <thead>
                                <h5>
                                    Del {{objOrderReport.fechaInicio | date: 'dd/MM/yyyy'}} Al {{objOrderReport.fechaFinal | date: 'dd/MM/yyyy'}}
                                </h5>
                            </thead>
                            <tbody>
                                <th>Codigo</th>
                                <th>Cliente</th>
                                <th>Fecha de ingreso</th>
                                <th>Fecha de despacho</th>
                                <th>Ingresado por</th>
                                <th>Despachado por</th>
                                <th>Estado</th>
                                <tr *ngFor="let orderItem of objOrderReport.listaPedidos">
                                    
                                    <td>
                                        {{orderItem.codigo}}
                                    </td>
                                    <td>
                                        {{orderItem.cliente}}
                                    </td>
                                    <td>
                                        {{orderItem.fechaIngreso | date: 'dd/MM/yyyy'}}
                                    </td>
                                    <td>
                                        {{orderItem.fechaDespacho | date: 'dd/MM/yyyy'}}
                                    </td>
                                    <td>
                                        {{orderItem.correoAdminIngreso}}
                                    </td>
                                    <td>
                                        {{orderItem.correoAdminDespacho}}
                                    </td>
                                    <td>
                                        {{orderItem.estado}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                    
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="orderReportForm.reset()"
                    data-dismiss="modal">Cerrar</button>
                <button [disabled]="orderReportForm.form.invalid" type="submit" class="btn btn-primary" data-dismiss="modal"
                    (click)="openOrderPDF()">Ver en PDF</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->

<!-- Not visible Input report Modal start -->

<div class="modal fade" id="pdfInsumos" tabindex="-1" role="dialog" #pdfInsumos>
    <h1>{{objInputReport.infoPaisMio.nombre}}</h1> <br>
    <h4>Cedula Jurídica: {{objInputReport.infoPaisMio.cedulaJuridica}}</h4> <br> <br>
    <h4>Reporte de insumos del {{objInputReport.fechaInicio | date: 'dd/MM/yyyy'}} al {{objInputReport.fechaFinal | date: 'dd/MM/yyyy'}}</h4> <br> <br>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Descarte</th>
            <th>Consumo</th>
            <th>Total</th>
        </thead>
        <tbody>
            <tr *ngFor="let reportedInput of objInputReport.listaInsumos">
                
                <td>
                    {{reportedInput.insumo.nombre}}
                </td>
                <td>
                    {{reportedInput.cantidadDescartada}}
                </td>
                <td>
                    {{reportedInput.cantidadConsumida}}
                </td>
                <td>
                    {{reportedInput.total}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Not visible Input report Modal ends -->