<div class="account-page">
    <div class="container">
        <div class="row justify-content-center">

            <form reportForm="ngForm" novalidate>

                <div class="float-center">
                    <h5>Tipo de reporte</h5>

                    <select #reportName="ngModel" class="custom-select" name="reportName" [(ngModel)]="auxN"
                        (blur)="validateReportType(auxN)" (change)="validateReportType(auxN)"
                        [class.is-invalid]="reportHasError && reportName.touched">
                        <!--<option value="default">Reporte</option>-->
                        <option value="insumos">Insumos</option>
                        <option value="pedidos">Pedidos</option>
                        <option value="entrada">Entradas de insumos</option>
                        <option value="comparativo">Comparativo de insumos</option>
                    </select>

                </div>
                <div *ngIf="auxN === 'insumos' || auxN === 'entrada' || auxN === 'pedidos'">

                    <div>
                        <br><h5>Rango</h5>
                    </div>
                    <table class="table table-striped table-responsive">
                        <thead>
                            <th>
                                Primer Fecha
                            </th>
                            <th>
                                Segunda Fecha
                            </th>
                        </thead>
                        <tr>
                            <td>
                                <input type="date" class="form-control">
                            </td>
                            <td>
                                <input type="date" class="form-control">
                            </td>
                        </tr>
                    </table>
                </div>

                <div *ngIf="auxN === 'comparativo'">
                    <div>
                        <br><h5>Primer Rango</h5>
                    </div>
                    <table class="table table-striped table-responsive">

                        <thead>
                            <th>
                                Primer Fecha
                            </th>
                            <th>
                                Segunda Fecha
                            </th>
                        </thead>
                        <tr>
                            <td>
                                <input type="date" class="form-control">
                            </td>
                            <td>
                                <input type="date" class="form-control">
                            </td>
                        </tr>
                    </table>
                    <div>
                        <br><h5> Segundo Rango</h5>
                    </div>
                    <table class="table table-striped table-responsive">

                        <thead>
                            <th>
                                Primer Fecha
                            </th>
                            <th>
                                Segunda Fecha
                            </th>
                        </thead>
                        <tr>
                            <td>
                                <input type="date" class="form-control">
                            </td>
                            <td>
                                <input type="date" class="form-control">
                            </td>
                        </tr>
                    </table>
                </div>


                <br>

                <button [disabled]="reportForm.form.invalid" type="submit" class="btn btn-success">Generar
                    reporte</button>

            </form>

        </div>
    </div>
</div>

<!-- Report modal -->
<!-- Modal start -->

<div class="modal fade" id="reportModal" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="reportModallabel1">Detalles de report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form #reportForm="ngForm" (ngSubmit)="downloadPDF();" novalidate>
                    <div class="form-group">
                        <div class="tab-header clearfix">
                            <div class="float-left">
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <!--
                                <td>
                                    <div class="form-field">
                                        <input type="text" required #nombreI="ngModel" class="form-control"
                                            [class.is-invalid]="nombreI.invalid && nombreI.touched" placeholder="Nombre"
                                            name="nombreI" [(ngModel)]="inputModel.nombre">
                                        <div *ngIf="nombreI.errors && (nombreI.invalid || nombreI.touched)">
                                            <p><small class="text-danger"
                                                    *ngIf="nombreI.errors.required && nombreI.touched">Nombre
                                                    requerido</small></p>
                                            <p><small class="text-danger" *ngIf="nombreI.errors.pattern">Nombre
                                                    invalido</small></p>
                                            <p><small class="text-danger" *ngIf="nombreI.errors.pattern">50
                                                    dígitos</small></p>
                                        </div>
                                    </div>
                                </td>-->
                            </tr>
                            <tr>
                                <th>
                                    Código
                                </th>
                                <!--
                                <td>
                                    <div class="form-field">
                                        <input type="text" required #codigoI="ngModel" class="form-control"
                                            [class.is-invalid]="codigoI.invalid && codigoI.touched" placeholder="Codigo"
                                            name="codigoI" [(ngModel)]="inputModel.id">
                                        <div *ngIf="codigoI.errors && (codigoI.invalid || codigoI.touched)">

                                            <p><small class="text-danger"
                                                    *ngIf="codigoI.errors.required && codigoI.touched">Codigo
                                                    requerido</small></p>
                                            <p><small class="text-danger" *ngIf="codigoI.errors.pattern">Nombre
                                                    invalido</small></p>
                                            <p><small class="text-danger" *ngIf="codigoI.errors.pattern">50
                                                    dígitos</small></p>
                                        </div>
                                    </div>
                                </td>
                                -->
                            </tr>
                            <tr>
                                <th>
                                    Mínimo en stock
                                </th>
                                <!--
                                <td>
                                    <div class="form-field">
                                        <input type="number" required #minI="ngModel" class="form-control"
                                            [class.is-invalid]="minI.invalid && minI.touched" placeholder="Min"
                                            name="minI" [(ngModel)]="inputModel.cantMinStock">
                                        <div *ngIf="minI.errors && (minI.invalid || minI.touched)">
                                            <p><small class="text-danger"
                                                    *ngIf="minI.errors.required && minI.touched">Minimo
                                                    requerido</small></p>
                                        </div>
                                    </div>
                                </td>
                                -->
                            </tr>
                            <tr>
                                <th>
                                    Unidad de medida
                                </th>
                                <!--
                                <td>
                                    <div class="form-field">
                                        <select (blur)="validateUnit(unitI.value)" (change)="validateUnit(unitI.value)"
                                            #unitI="ngModel" [class.is-invalid]="unitHasError && unitI.touched"
                                            class="form-control" name="unitI" [(ngModel)]="inputModel.unidad">
                                            <option value="default">Unidad de medida</option>
                                            <option *ngFor="let com of unitList">{{com.unidad}}</option>
                                        </select>
                                        <p><small class="text-danger"
                                                [class.d-none]="!unitHasError || unitI.untouched">Unidad
                                                requerida</small></p>
                                    </div>
                                </td>
                                -->
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="reportForm.reset()"
                    data-dismiss="modal">Cerrar</button>
                <button [disabled]="reportForm.form.invalid" type="submit" class="btn btn-primary" data-dismiss="modal"
                    (click)="downloadPDF()">Descargar PDF</button>
            </div>

        </div>
    </div>
</div>


<!-- Modal end -->