<div class="account-page">
    <div class="container">
        <div class="row justify-content-center">

            <form reportForm="ngForm" novalidate>

                <div class="float-center">
                    <h5>Tipo de reporte</h5>

                    <select #reportName="ngModel" class="custom-select" name="reportName" [(ngModel)]="auxN"
                        (blur)="validateReportType(auxN)" (change)="validateReportType(auxN)"
                        [class.is-invalid]="reportHasError && reportName.touched">
                        <!--<option value="default">Reporte</option>-->
                        <option value="insumos">Insumos</option>
                        <option value="pedidos">Pedidos</option>
                        <option value="entrada">Entradas de insumos</option>
                        <option value="comparativo">Comparativo de insumos</option>
                    </select>

                </div>
                <div>

                    <div>
                        <br>
                        <h5>Rango</h5>
                    </div>
                    <table class="table table-striped table-responsive">
                        <thead>
                            <th>
                                Primer Fecha
                            </th>
                            <th>
                                Segunda Fecha
                            </th>
                        </thead>
                        <tr>
                            <td>
                                <input type="date" class="form-control" #R1PF="ngModel" [(ngModel)]="R1D1"
                                    name="firstRangeFirstDate">
                            </td>
                            <td>
                                <input type="date" class="form-control" #R1SF="ngModel" [(ngModel)]="R1D2"
                                    name="firstRangeSecondDate">
                            </td>
                        </tr>
                    </table>
                </div>

                <div *ngIf="auxN === 'comparativo'">
                    <div>
                        <br>
                        <h5> Segundo Rango</h5>
                    </div>
                    <table class="table table-striped table-responsive">

                        <thead>
                            <th>
                                Primer Fecha
                            </th>
                            <th>
                                Segunda Fecha
                            </th>
                        </thead>
                        <tr>
                            <td>
                                <input type="date" class="form-control" #R2PF="ngModel" [(ngModel)]="R2D1"
                                    name="secondRangeFirstDate">
                            </td>
                            <td>
                                <input type="date" class="form-control" #R2SF="ngModel" [(ngModel)]="R2D2"
                                    name="secondRangeSecondDate">
                            </td>
                        </tr>
                    </table>
                </div>

                <!--
                <button type="button" class="btn btn-success" (click)=" inputRequestForm.reset()"
                            data-toggle="modal" data-target="#requestModal">
                            -->
                <button *ngIf="auxN === 'insumos'" [disabled]="reportForm.form.invalid" type="button"
                    class="btn btn-success" data-toggle="modal" data-target="#inputReportModal"
                    (click)="getInputReport()">Generar
                    reporte</button>

                <button *ngIf="auxN === 'pedidos'" [disabled]="reportForm.form.invalid" type="button"
                    class="btn btn-success" data-toggle="modal" data-target="#orderReportModal"
                    (click)="getOrderReport()">Generar
                    reporte</button>

                <button *ngIf="auxN === 'entrada'" [disabled]="reportForm.form.invalid" type="button"
                    class="btn btn-success" data-toggle="modal" data-target="#entryReportModal"
                    (click)="getEntryReport()">Generar
                    reporte</button>

                <button *ngIf="auxN === 'comparativo'" [disabled]="reportForm.form.invalid" type="button"
                    class="btn btn-success" data-toggle="modal" data-target="#comparativeReportModal"
                    (click)="getInputComparativeReport()">Generar
                    reporte</button>
            </form>

        </div>
    </div>
</div>

<!-- Report modal -->
<!-- Modal start -->

<div class="modal fade" id="inputReportModal" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="reportModallabel1">Detalles del reporte de insumos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>

            <div class="modal-body">
                <form #reportForm="ngForm" novalidate>
                    <div class="form-group">
                        <div class="tab-header clearfix">
                            <div class="float-left">
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="{{objInputReport.infoPaisMio.logo}}" class="rounded mx-auto d-block" width="40%"
                            width="40%">
                    </div>
                    <table class="table table-striped table-responsive">
                        <thead>
                            <h5>
                                {{objInputReport.infoPaisMio.nombre}}
                            </h5>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    Cedula
                                </th>
                                <td>
                                    {{objInputReport.infoPaisMio.cedulaJuridica}}
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    Dirección
                                </th>
                                <td>
                                    {{objInputReport.infoPaisMio.direccion}}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Telefono
                                </th>
                                <td>
                                    {{objInputReport.infoPaisMio.telefono}}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Correo
                                </th>
                                <td>
                                    {{objInputReport.infoPaisMio.correo}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="objInputReport.listaInsumos.length === 0">
                        <h5>
                            Del {{objInputReport.fechaInicio | date: 'dd/MM/yyyy'}} Al
                            {{objInputReport.fechaFinal | date: 'dd/MM/yyyy'}}
                        </h5>
                        <h6>
                            No hay datos para mostrar
                        </h6>
                    </div>
                    <div id="pdfReport" #pdfReport>
                        <table class="table table-striped table-responsive"
                            *ngIf="objInputReport.listaInsumos.length > 0">
                            <thead>
                                <h5>
                                    Del {{objInputReport.fechaInicio | date: 'dd/MM/yyyy'}} Al
                                    {{objInputReport.fechaFinal | date: 'dd/MM/yyyy'}}
                                </h5>
                            </thead>
                            <tbody>
                                <th>Nombre de Insumo</th>
                                <th>Cantidad Descartada</th>
                                <th>Cantidad Consumida</th>
                                <th>Total</th>
                                <tr *ngFor="let item of objInputReport.listaInsumos">

                                    <td>
                                        {{item.insumo.nombre}}
                                    </td>
                                    <td>
                                        {{item.cantidadDescartada}}
                                    </td>
                                    <td>
                                        {{item.cantidadConsumida}}
                                    </td>
                                    <td>
                                        {{item.total}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="reportForm.reset()"
                    data-dismiss="modal">Cerrar</button>
                <button [disabled]="reportForm.form.invalid" type="submit" class="btn btn-primary" data-dismiss="modal"
                    (click)="openPDF()">Ver en PDF</button>
            </div>

        </div>
    </div>
</div>
<!-- Modal end -->

<!--Modal start-->
<!-- Modal Order Report -->
<div class="modal fade" id="orderReportModal" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="reportModallabel1">Detalles del reporte de pedidos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="description">
                    <form #orderReportForm="ngForm" novalidate>
                        <div class="form-group">
                            <div class="tab-header clearfix">
                                <div class="float-left">
                                </div>
                            </div>
                        </div>
                        <div>
                            <img src="{{objOrderReport.infoPaisMio.logo}}" class="rounded mx-auto d-block" width="40%"
                                width="40%">
                        </div>
                        <table class="table table-striped table-responsive">
                            <thead>
                                <h5>
                                    {{objOrderReport.infoPaisMio.nombre}}
                                </h5>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        Cedula
                                    </th>
                                    <td>
                                        {{objOrderReport.infoPaisMio.cedulaJuridica}}
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        Dirección
                                    </th>
                                    <td>
                                        {{objOrderReport.infoPaisMio.direccion}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Telefono
                                    </th>
                                    <td>
                                        {{objOrderReport.infoPaisMio.telefono}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Correo
                                    </th>
                                    <td>
                                        {{objOrderReport.infoPaisMio.correo}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="objOrderReport.listaPedidos.length === 0">
                            <h5>
                                Del {{objOrderReport.fechaInicio | date: 'dd/MM/yyyy'}} al
                                {{objOrderReport.fechaFinal | date: 'dd/MM/yyyy'}}
                            </h5>
                            <h6>
                                No hay datos para mostrar
                            </h6>
                        </div>
                        <div id="pdfOrderReport" #pdfOrderReport>
                            <h5>
                                Del {{objOrderReport.fechaInicio | date: 'dd/MM/yyyy'}} al
                                {{objOrderReport.fechaFinal | date: 'dd/MM/yyyy'}}
                            </h5>
                            <div style="overflow-x: auto; max-width: 100%;">
                                <table class="table table-striped table-responsive clearfix"
                                    *ngIf="objOrderReport.listaPedidos.length > 0">
                                    <thead>
                                        <tr>
                                            <th scope="row">Cliente</th>
                                            <th scope="row">Fecha de ingreso</th>
                                            <th scope="row">Fecha de despacho</th>
                                            <th scope="row">Ingresado por</th>
                                            <th scope="row">Despachado por</th>
                                            <th scope="row">Estado</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let orderItem of objOrderReport.listaPedidos">
                                            <td>
                                                <div class="form-field">
                                                    <p>{{orderItem.cliente.nombre}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-field">
                                                    <p>{{orderItem.fechaIngreso.substr(6,13) | date: 'dd/MM/yyyy'}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-field">
                                                    <p>{{orderItem.fechaDespacho.substr(6,13) | date: 'dd/MM/yyyy'}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-field">
                                                    <p>{{orderItem.correoAdminIngreso}}</p>
                                                </div>

                                            </td>
                                            <td>
                                                <div class="form-field">
                                                    <p>{{orderItem.correoAdminDespacho}}</p>
                                                </div>

                                            </td>
                                            <td>
                                                <div class="form-field">
                                                    <p>{{orderItem.estado}}</p>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="orderReportForm.reset()"
                        data-dismiss="modal">Cerrar</button>
                    <button [disabled]="orderReportForm.form.invalid" type="submit" class="btn btn-primary"
                        data-dismiss="modal" (click)="openOrderPDF()">Ver en PDF</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal end -->

<!--Modal start-->
<!-- Modal Entrada Report -->
<div class="modal fade" id="entryReportModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="entryReportModallabel1">Detalles del reporte de entradas de insumos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="description">
                    <form #entryReportForm="ngForm" novalidate>
                        <div class="form-group">
                            <div class="tab-header clearfix">
                                <div class="float-left">
                                </div>
                            </div>
                        </div>
                        <div>
                            <img src="{{objEntryReport.infoPaisMio.logo}}" class="rounded mx-auto d-block" width="40%"
                                width="40%">
                        </div>
                        <table class="table table-striped table-responsive">
                            <thead>
                                <h5>
                                    {{objEntryReport.infoPaisMio.nombre}}
                                </h5>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        Cedula
                                    </th>
                                    <td>
                                        {{objEntryReport.infoPaisMio.cedulaJuridica}}
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        Dirección
                                    </th>
                                    <td>
                                        {{objEntryReport.infoPaisMio.direccion}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Telefono
                                    </th>
                                    <td>
                                        {{objEntryReport.infoPaisMio.telefono}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Correo
                                    </th>
                                    <td>
                                        {{objEntryReport.infoPaisMio.correo}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="objEntryReport.listaEntradas.length === 0">
                            <h5>
                                Del {{objEntryReport.fechaInicio | date: 'dd/MM/yyyy'}} al
                                {{objEntryReport.fechaFinal | date: 'dd/MM/yyyy'}}
                            </h5>
                            <h6>
                                No hay datos para mostrar
                            </h6>
                        </div>
                        <div id="pdfEntryReport" #pdfEntryReport>
                            <h5>
                                Del {{objEntryReport.fechaInicio | date: 'dd/MM/yyyy'}} al
                                {{objEntryReport.fechaFinal | date: 'dd/MM/yyyy'}}
                            </h5>
                            <div style="overflow-x: auto; max-width: 100%;">
                                <ul *ngIf="objEntryReport.listaEntradas.length > 0">
                                    <li *ngFor="let entryItem of objEntryReport.listaEntradas">
                                        <h5>Administrador: {{entryItem.correoAdministrador}}</h5>
                                        <h6>Fecha: {{entryItem.fecha}}</h6>

                                        <table class="table table-striped table-responsive clearfix">
                                            <thead>
                                                <tr>
                                                    <th scope="row">Codigo insumo</th>
                                                    <th scope="row">Nombre insumo</th>
                                                    <th scope="row">Cantidad</th>
                                                    <th scope="row">Bodega</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr *ngFor="let inputEntryItem of entryItem.listaInsumos">
                                                    <td>
                                                        <div class="form-field">
                                                            <p>{{inputEntryItem.insumo.insumo.id}}</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-field">
                                                            <p>{{inputEntryItem.insumo.insumo.nombre}}</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-field">
                                                            <p>{{inputEntryItem.insumo.cantidadDisponible}}</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-field">
                                                            <p>{{inputEntryItem.doBodega.nombre}}</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="entryReportForm.reset()"
                        data-dismiss="modal">Cerrar</button>
                    <button [disabled]="entryReportForm.form.invalid" type="submit" class="btn btn-primary"
                        data-dismiss="modal" (click)="openEntryPDF()">Ver en PDF</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->

<!--Modal start-->
<!-- Modal Comparative Report -->
<div class="modal fade" id="comparativeReportModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comparativeReportModal">Detalles del reporte comparativo de insumos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="description">
                    <form #comparativeReportForm="ngForm" novalidate>
                        <div class="form-group">
                            <div class="tab-header clearfix">
                                <div class="float-left">
                                </div>
                            </div>
                        </div>
                        <div>
                            <img src="{{objInputComparativeReport.infoPaisMio.logo}}" class="rounded mx-auto d-block" width="40%"
                                width="40%">
                        </div>
                        <table class="table table-striped table-responsive">
                            <thead>
                                <h5>
                                    {{objInputComparativeReport.infoPaisMio.nombre}}
                                </h5>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        Cedula
                                    </th>
                                    <td>
                                        {{objInputComparativeReport.infoPaisMio.cedulaJuridica}}
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        Dirección
                                    </th>
                                    <td>
                                        {{objInputComparativeReport.infoPaisMio.direccion}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Telefono
                                    </th>
                                    <td>
                                        {{objInputComparativeReport.infoPaisMio.telefono}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Correo
                                    </th>
                                    <td>
                                        {{objInputComparativeReport.infoPaisMio.correo}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="objInputComparativeReport.listaInsumos.length === 0">
                            <h5>
                                Primer periodo: Del {{objInputComparativeReport.inicioMes1 | date: 'dd/MM/yyyy'}} al
                                {{objInputComparativeReport.finalMes1 | date: 'dd/MM/yyyy'}}
                                <br>
                                Segundo periodo: Del {{objInputComparativeReport.inicioMes2 | date: 'dd/MM/yyyy'}} al
                                {{objInputComparativeReport.finalMes2 | date: 'dd/MM/yyyy'}}
                            </h5>
                            <h6>
                                No hay datos para mostrar
                            </h6>
                        </div>
                        <div *ngIf="objInputComparativeReport.listaInsumos.length > 0" id="pdfComparativeReport" #pdfComparativeReport>
                            <h5>
                                Primer periodo: Del {{objInputComparativeReport.inicioMes1 | date: 'dd/MM/yyyy'}} al
                                {{objInputComparativeReport.finalMes1 | date: 'dd/MM/yyyy'}}
                                <br>
                                Segundo periodo: Del {{objInputComparativeReport.inicioMes2 | date: 'dd/MM/yyyy'}} al
                                {{objInputComparativeReport.finalMes2 | date: 'dd/MM/yyyy'}}
                            </h5>
                            <div style="overflow-x: auto; max-width: 100%;">
                                <ul *ngIf="objInputComparativeReport.listaInsumos.length > 0">
                                    <li *ngFor="let comparedItem of objInputComparativeReport.listaInsumos">
                                        <div *ngIf="comparedItem.insumoPrimerMes !== null">
                                            <h5>Insumo: {{comparedItem.insumoPrimerMes.insumo.id}}</h5>
                                            <h6>Nombre: {{comparedItem.insumoPrimerMes.insumo.nombre}}</h6>
                                        </div>
                                        <div *ngIf="comparedItem.insumoPrimerMes === null">
                                            <h5>Insumo: {{comparedItem.insumoSegundoMes.insumo.id}}</h5>
                                            <h6>Nombre: {{comparedItem.insumoSegundoMes.insumo.nombre}}</h6>
                                        </div>

                                        <table class="table table-striped table-responsive clearfix">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">
                                                        Primer periodo
                                                    </th>
                                                    <th colspan="2">
                                                        Segundo periodo
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Consumido</th>
                                                    <th scope="row">Descartado</th>
                                                    <th scope="row">Consumido</th>
                                                    <th scope="row">Descartado</th>
                                                </tr>
                                            </thead>
                                            <br>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-field" *ngIf="comparedItem.insumoPrimerMes !== null">
                                                            <p>{{comparedItem.insumoPrimerMes.cantidadConsumida}}</p>
                                                        </div>
                                                        <div class="form-field" *ngIf="comparedItem.insumoPrimerMes === null">
                                                            <p>N/A</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-field" *ngIf="comparedItem.insumoPrimerMes !== null">
                                                            <p>{{comparedItem.insumoPrimerMes.cantidadDescartada}}</p>
                                                        </div>
                                                        <div class="form-field" *ngIf="comparedItem.insumoPrimerMes === null">
                                                            <p>N/A</p>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-field" *ngIf="comparedItem.insumoSegundoMes !== null">
                                                            <p>{{comparedItem.insumoSegundoMes.cantidadConsumida}}</p>
                                                        </div>
                                                        <div class="form-field" *ngIf="comparedItem.insumoSegundoMes === null">
                                                            <p>N/A</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-field" *ngIf="comparedItem.insumoSegundoMes !== null">
                                                            <p>{{comparedItem.insumoSegundoMes.cantidadDescartada}}</p>
                                                        </div>
                                                        <div class="form-field" *ngIf="comparedItem.insumoSegundoMes === null">
                                                            <p>N/A</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Total: 
                                                    </th>
                                                    <td>
                                                        <div class="form-field" *ngIf="comparedItem.insumoPrimerMes !== null">
                                                            <p>{{comparedItem.insumoPrimerMes.total}}</p>
                                                        </div>
                                                        <div class="form-field" *ngIf="comparedItem.insumoPrimerMes === null">
                                                            <p>N/A</p>
                                                        </div>
                                                    </td>
                                                    <th>
                                                        Total: 
                                                    </th>
                                                    <td>
                                                        <div class="form-field" *ngIf="comparedItem.insumoSegundoMes !== null">
                                                            <p>{{comparedItem.insumoSegundoMes.total}}</p>
                                                        </div>
                                                        <div class="form-field" *ngIf="comparedItem.insumoSegundoMes === null">
                                                            <p>N/A</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <h6>Diferencias porcentuales</h6>
                                        </div>
                                        <table class="table table-striped table-responsive clearfix">
                                            <thead>
                                                <th>Consumido</th>
                                                <th>Descarte</th>
                                                <th>Total</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{comparedItem.diferenciaConsumir}}%</td>
                                                    <td>{{comparedItem.diferenciaDescarte}}%</td>
                                                    <td>{{comparedItem.diferenciaTotal}}%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="comparativeReportForm.reset()"
                        data-dismiss="modal">Cerrar</button>
                    <button [disabled]="comparativeReportForm.form.invalid" type="submit" class="btn btn-primary"
                        data-dismiss="modal" (click)="openComparativePDF()">Ver en PDF</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->

<!-- Not visible Input report Modal start -->

<div class="modal fade" id="pdfInsumos" tabindex="-1" role="dialog" #pdfInsumos>
    <h1>{{objInputReport.infoPaisMio.nombre}}</h1> <br>
    <h4>Cedula Jurídica: {{objInputReport.infoPaisMio.cedulaJuridica}}</h4> <br> <br>
    <h4>Reporte de insumos del {{objInputReport.fechaInicio | date: 'dd/MM/yyyy'}} al
        {{objInputReport.fechaFinal | date: 'dd/MM/yyyy'}}</h4> <br> <br>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Descarte</th>
            <th>Consumo</th>
            <th>Total</th>
        </thead>
        <tbody>
            <tr *ngFor="let reportedInput of objInputReport.listaInsumos">

                <td>
                    {{reportedInput.insumo.nombre}}
                </td>
                <td>
                    {{reportedInput.cantidadDescartada}}
                </td>
                <td>
                    {{reportedInput.cantidadConsumida}}
                </td>
                <td>
                    {{reportedInput.total}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Not visible Input report Modal ends -->