<div class="account-page">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/index-pm-app/">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Ingresar insumos</li>
        </ol>


        <div class="tab-header clearfix">

        <div class="float-left">
            <div class="search-field">
                <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="termIQ">
            </div>
            <br>
            <select class="custom-select" [(ngModel)]="termIQ2">
                <option></option>
                <option *ngFor="let com of cellarList">{{com.nombre}}</option>
            </select>
        </div>

        </div>


        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Stock</th>
                    <th>Agregar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let item of inputQListInCellar | filter: termIQ | filter: termIQ2; let i = index">
                    <td>
                        {{item.insumo}}
                    </td>
                    <td>
                        {{item.insumo.nombre}}
                    </td>
                    <td>
                        {{item.cantidadDisponible}}
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        <button type="button" class="btn btn-success">
                            <i class="icon ion-plus">
                            </i>
                          </button>
                    </td>
                </tr>

            </tbody>
        </table>
        <br>

        <div class="tab-header clearfix">
            <div class="float-left">
                <div class="search-field">
                    <h4>Agregado</h4>
                </div>
            </div>
            </div>


            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Agregado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            001
                        </td>
                        <td>
                            Tapas de pacha
                        </td>
                        <td>
                            20
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="modal-footer">
                <div class="search-field">
                    <button type="button" class="btn btn-primary center">Ingresar insumos</button>
                </div>
                <br>
            </div>
    </div>
</div>
