<div class="account-page">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/index-pm-app/">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Manejo de inventario</li>
        </ol>


        <div class="tab-header clearfix">

            <div class="float-left">
                <div class="search-field">
                    <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="termIQ"
                        [(ngModel)]="termIQ2">
                </div>
                <br>
                <button type="button" class="btn btn-success" (click)="inputQForm.reset();resetInputEntryList()"
                data-toggle="modal" data-target="#inputsQModal">
                    <i class="icon ion-plus">
                    </i>
                    Ingresar insumos
                </button>
            </div>
        </div>
        <br>

        <div id="accordion">
            <div class="card" *ngFor="let item of cellarList | filter: termIQ; let i = index;">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" attr.data-target="#collapseIQ{{i}}"
                            aria-expanded="true" attr.aria-controls="collapseIQ{{i}}">
                            {{item.nombre | titlecase}}
                        </button>
                    </h5>
                </div>
                <div attr.id="collapseIQ{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div *ngIf="!(item.listaInsumosEnBodega.length > 0)">
                            <h6>No hay insumos en la bodega</h6>
                        </div>
                        <table class="table table-striped table-responsive" *ngIf="(item.listaInsumosEnBodega.length > 0)">
                            <thead>
                                <tr>
                                    <h6>Lista de insumos en bodega</h6>
                                </tr>
                                <tr data-toggle="collapse" data-target="#cellar">
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Stock</th>
                                    <th>Unidad</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let com of item.listaInsumosEnBodega">
                                    <td>
                                        {{com.insumo.id}}
                                    </td>
                                    <td>
                                        {{com.insumo.nombre | titlecase}}
                                    </td>
                                    <td *ngIf="com.insumo.cantMinStock > com.cantidadDisponible || 
                                        com.insumo.cantMinStock == com.cantidadDisponible">
                                        <span class="badge badge-danger">{{com.cantidadDisponible}}
                                        </span>                                  
                                    </td>
                                    <td *ngIf="com.cantidadDisponible > com.insumo.cantMinStock">
                                        <span class="badge badge-success">{{com.cantidadDisponible}}
                                        </span>                                    
                                    </td>
                                    <td>
                                        {{com.insumo.unidad | titlecase}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal inputs -->

<!-- Modal start -->

<div class="modal fade" id="inputsQModal" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="inputsQModallabel1">Ingresar insumos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form #inputQForm="ngForm" (ngSubmit)="postInputQ();" novalidate>
                    <div class="form-group">
                        <div class="tab-header clearfix">
                            <div class="float-left">
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    Bodega
                                </th>
                                <td>
                                    <div class="form-field">
                                        <select (blur)="validateCellar(cellarC.value)"
                                            (change)="validateCellar(cellarC.value)" required #cellarC="ngModel"
                                            [class.is-invalid]="cellarHasError && cellarC.touched" class="form-control"
                                            name="cellarC" [(ngModel)]="cellarEntryModel.codigo">
                                            
                                            <option *ngFor="let com of cellarList" value="{{com.codigo}}">{{com.nombre}}
                                            </option>
                                        </select>
                                        <p><small class="text-danger"
                                                [class.d-none]="!cellarHasError || cellarC.untouched">Bodega
                                                Requerida</small></p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <td>
                                    <div class="form-field">
                                        <ng-autocomplete [data]="autoCompleteInput" [searchKeyword]="keyword"
                                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                            placeHolder="Nombre de insumo"
                                            (selected)='selectedInput($event)'
                                            name="nombreIQ" [(ngModel)]="searchInputModel.nombre"
                                            #nombreIQ="ngModel"
                                            >
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.nombre"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                    <div *ngIf="inputAlreadyAdded">
                                        <p><small class="text-danger">El
                                                insumo ya ha sido 
                                                agregado</small></p>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="inputExist && !(inputAlreadyAdded)">
                                <th>
                                    Cantidad
                                </th>
                                <td>
                                    <div class="form-field">
                                        <input type="number" min="1" (keyup)="validateEntryQuantity()" required #inputIQ="ngModel" class="form-control"
                                            [class.is-invalid]="inputIQ.invalid && inputIQ.touched"
                                            placeholder="Cantidad" name="inputIQ" [(ngModel)]="auxQ">
                                        <div *ngIf="inputIQ.errors && (inputIQ.invalid || inputIQ.touched)">
                                            <p><small class="text-danger"
                                                    *ngIf="inputIQ.errors.required && inputIQ.touched">Minimo
                                                    requerido</small></p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="inputExist && !(inputAlreadyAdded)">
                                <th>
                                </th>
                                <td *ngIf="auxQ>0">
                                    <button type="button" class="btn btn-success center" (click)="pushIntoEntryList()">
                                        <i class="icon ion-plus">
                                        </i>
                                        Agregar insumo</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table *ngIf="listIsNotEmpty" class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cantidad a agregar</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of inputEntryList; let i = index">
                                <td>{{item.insumo.nombre}}</td>
                                <td>{{item.cantidadDisponible}}</td>
                                <td><button type="button" attr.value="{{i}}" class="btn btn-danger center" (click)="removeFromList(i)">
                                    <i class="icon ion-trash-a">
                                    </i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button [disabled]="inputQForm.form.invalid || !listIsNotEmpty" type="button" class="btn btn-primary" data-dismiss="modal" (click)="inputEntry()">Crear</button>
            </div>

        </div>
    </div>
</div>


<!-- Modal end -->