<div class="signup-page">
    <div class="wrapper">
        <div class="header">
            <a routerLink="/index/" class="logo">
                <img src="assets/images/logo-alt-b.png" />
            </a>
        </div>
        <form>
            <div class="form-field">
                <input type="text" placeholder="Nombre">
            </div>
            <div class="form-field">
                <input type="text" placeholder="Apellido">
            </div>
            <div class="form-field">
                <input type="email" placeholder="Correo electronico">
            </div>
            <div class="form-field">
                <label class="terms">
                    <input type="checkbox" name="terms">
                    Acepto los terminos de usuario <a href="#">Terminos de usuario</a>.
                </label>
            </div>
            <div class="form-action">
                <input type="submit" class="btn-shadow btn-shadow-primary" value="Crear usuario">
            </div>
            <div class="form-bottom">
                ¿Ya tiene una cuenta?
                <a routerLink="/sign-in/">Ingresa</a>
            </div>
        </form>
    </div>
</div>