<div class="signin-page">
    <div class="wrapper">
        <div class="header">
            <a routerLink="/index.html/" class="logo">
                <img src="assets/images/logo-alt-b.png" />
            </a>
        </div>
        <form #pasRecoverForm="ngForm" novalidate>
            <div class="form-field">
                <input type="text" required #correoR="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    class="form-control" [class.is-invalid]="correoR.invalid && correoR.touched"
                    placeholder="correo@mail.com" name="correoR" [(ngModel)]="userModel.correo">
                <div *ngIf="correoR.errors && (correoR.invalid || correoR.touched)">
                    <p><small class="text-danger" *ngIf="correoR.errors.required && correoR.touched">Correo
                            requerido</small></p>
                    <p><small class="text-danger" *ngIf="correoR.errors.pattern">Correo
                            inválido</small></p>
                    <p><small class="text-danger" *ngIf="correoR.errors.pattern">Ejemplo:
                            xxxx@mail.com</small></p>
                </div>
            </div>
            <div class="form-action">
                <button button [disabled]="pasRecoverForm.form.invalid" type="submit"  class="btn btn-shadow btn-shadow-primary"
                (click)= "passwordRecover()">Solicitar contraseña</button>
            </div>
            <div class="form-bottom">
                <a routerLink="/sign-in/">Volver al inicio de sesión</a>
            </div>
        </form>
    </div>
</div>