<div class="wrapper">
    <div class="header">
        <a href="index.html" class="logo">
            <img src="images/logo-alt-b.png" />
        </a>
    </div>
    <form>
        <div class="form-field">
            <input type="email" placeholder="Ingrese el correo electrónico">
        </div>
        <div class="form-action">
            <input type="submit" class="btn-shadow btn-shadow-primary" value="Solicitar contraseña">
        </div>
        <div class="form-bottom">
            <a href="sign-in.html">Volver al inicio de sesión</a>
        </div>
    </form>
</div>