<div class="signin-page">
    <div class="wrapper">
    <div class="header">
        <a routerLink="/index.html/" class="logo">
            <img src="assets/images/logo-alt-b.png" />
        </a>
    </div>
    <form>
        <div class="form-field">
            <input type="email" placeholder="Ingrese el correo electrónico">
        </div>
        <div class="form-action">
            <input type="submit" class="btn-shadow btn-shadow-primary" value="Solicitar contraseña">
        </div>
        <div class="form-bottom">
            <a routerLink="/sign-in/">Volver al inicio de sesión</a>
        </div>
    </form>
</div>
</div>