<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.ConnectionString" connectionString="Data Source=SQL5005.site4now.net;Initial&#xA;Catalog=DB_A6158F_spePaismio;User Id=DB_A6158F_spePaismio_admin;Password=&#xA;Data Source=SQL5005.site4now.net;Initial&#xA;Catalog=DB_A6158F_spePaismio;User Id=DB_A6158F_spePaismio_admin;Password=&#xA;spepaismio1.;" />
    </connectionStrings>
</configuration>