<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.ConnectionString" connectionString="Data Source=sql5005.site4now.net;Initial Catalog=DB_A6158F_spePaismio;Persist Security Info=True;User ID=DB_A6158F_spePaismio_admin;Password=spepaismio1."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>