<nav class="store-navbar">
    <div class="container">
      <div class="section-top clearfix">
        <a href="index-pm-app.html" class="logo float-left">
          País mío
        </a>
        <ul class="menu-right float-right">
          <li>
            <a href="input-request.html" class="cart">
              <i class="ion-ios-wineglass"></i>
              <span>X Pedidos activos</span>
            </a>
          </li>
          <li>
            <a href="user-view.html" class="account">
              <i class="ion-person"></i>
              Cuenta
            </a>
          </li>
        </ul>
      </div>

      <div class="section-menu clearfix">
        <nav class="navbar navbar-expand-lg navbar-light" role="navigation">
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-center" id="navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  Pedidos
                  <i class="ion-chevron-down"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" href="input-request.html">Pedido 1</a>
                  <a class="dropdown-item" href="input-request-2.html">Pedido 2</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  Inventario
                  <i class="ion-chevron-down"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" href="invenrory-control.html">Todas las bodegas</a>
                  <a class="dropdown-item" href="invenrory-control.html">Bodega grecia</a>
                  <a class="dropdown-item" href="invenrory-control.html">Bodega San Ramon</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  Administración
                  <i class="ion-chevron-down"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" href="admin-view.html">Panel de administración</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  Reportes
                  <i class="ion-chevron-down"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" href="report-monthly.html">Reporte mensual</a>
                  <a class="dropdown-item" href="report-comparative.html">Reporte comparativo</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  Cuenta
                  <i class="ion-chevron-down"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" href="user-view.html">Ver perfil</a>
                  <a class="dropdown-item" href="change-password.html">Cambiar contraseña</a>
                </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link dropdown-toggle" href="index.html">Cerrar sesión</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </nav>