<nav class="store-navbar">
    <div class="container">
      <div class="section-top clearfix">
        <a routerLink="/index-pm-app/" class="logo float-left">
          País mío
        </a>
        <ul class="menu-right float-right">
          <li>
            <a routerLink="/order-view/" class="cart" >
              <i class="ion-ios-wineglass"></i>
              <span>{{activeMessage}}</span>
            </a>
          </li>
          <li>
            <a routerLink="/user-view/" class="account">
              <i class="ion-person"></i>
              Cuenta
            </a>
          </li>
        </ul>
      </div>

      <div class="section-menu clearfix">
        <nav class="navbar navbar-expand-lg navbar-light" role="navigation">
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-center" id="navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  Pedidos
                  <i class="ion-chevron-down"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" *ngFor="let item of orderList; let i = index" attr.value="{{i}}" routerLink="/order-view/" (click)="newOrder(i)">{{item.codigo}} | {{item.cliente.nombre}}</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  Inventario
                  <i class="ion-chevron-down"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" routerLink="/inventory-control/">Manejo de inventario</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  Administración
                  <i class="ion-chevron-down"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" href="/admin-view/">Panel de administración</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  Reportes
                  <i class="ion-chevron-down"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" routerLink="/report-view/">Generar reporte</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  Cuenta
                  <i class="ion-chevron-down"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                  <a class="dropdown-item" routerLink="/user-view/">Ver perfil</a>
                  <a class="dropdown-item" routerLink="/change-password/">Cambiar contraseña</a>
                </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link dropdown-toggle" (click)="logout()">Cerrar sesión</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </nav>