<div class="signin-page">
    <div class="wrapper">
        <div class="header">
            <a routerLink="/index/" class="logo">
                <img src="assets/images/logo-alt-b.png" />
            </a>
        </div>
        <form>
            <div class="form-field">
                <input [(ngModel)]="loginUser.correo" type="email" placeholder="Correo electrónico">
            </div>
            <div class="form-field">
                <input [(ngModel)]="loginUser.contrasena" type="password" placeholder="Contraseña">
            </div>
            <div class="form-action">
                <input (click)="login()" type="submit" class="btn-shadow btn-shadow-primary" value="Ingresar">
            </div>
            <div class="form-bottom">
                <a routerLink="/recover-password/">¿Olvidó su contraseña?</a>
            </div>
            <div class="form-bottom">
                ¿No posee una cuenta?
                <a routerLink="#">Contactar un administrador</a>
            </div>
        </form>
    </div>
</div>