<div class="signin-page">
    <div class="wrapper">
        <div class="header">
            <a routerLink="/" class="logo">
                <img src="assets/images/logo-alt-b.png" />
            </a>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="login()" novalidate>
            <div class="form-field">
                <input type="text" required #correoU="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                 class="form-control" [class.is-invalid]="correoU.invalid && correoU.touched"
                 placeholder="correo@mail.com" name="correoU" [(ngModel)]="loginUser.correo">
                 <div *ngIf="correoU.errors && (correoU.invalid || correoU.touched)">
                    <p><small class="text-danger" *ngIf="correoU.errors.required && correoU.touched">Correo requerido</small></p>
                    <p><small class="text-danger" *ngIf="correoU.errors.pattern">Correo invalido</small></p>
                    <p><small class="text-danger" *ngIf="correoU.errors.pattern">Ejemplo: xxxx@mail.com</small></p>
                </div>
            </div> 

            <div class="form-field">
                <input type="password" required #contrasenaU="ngModel" placeholder="Contraseña"
                 class="form-control" [class.is-invalid]="contrasenaU.invalid && contrasenaU.touched"
                  name="contrasenaU" [(ngModel)]="loginUser.contrasena">
                 <div *ngIf="contrasenaU.errors && (contrasenaU.invalid || contrasenaU.touched)">
                    <p><small class="text-danger" *ngIf="contrasenaU.errors.required && contrasenaU.touched">Contraseña invalida</small></p>
                </div>
            </div> 
            <!--
            <div class="form-field">
                <input [(ngModel)]="loginUser.contrasena" type="password" placeholder="Contraseña" name="contrasenaU"
                pattern="{8,20}" class="form-control"  [class.is-invalid]="contrasenaU.invalid && correoU.touched"
                placeholder="correo@mail.com"> 
            </div>
            -->
            <div class="form-action">
                <input button [disabled]="loginForm.form.invalid" type="submit" class="btn-shadow btn-shadow-primary" value="Ingresar"
                >
            </div>
            <div class="form-bottom">
                <a routerLink="/recover-password/">¿Olvidó su contraseña?</a>
            </div>
        </form>
    </div>
</div>