<div class="signin-page">
    <div class="wrapper">
        <div class="header">
            <a routerLink="/" class="logo">
                <img src="assets/images/logo-alt-b.png" />
            </a>
        </div>

        <form>
            <div class="form-field">

                <div class="tab-header clearfix">
                    <div class="float-left">
                        <h5>Datos de usuario</h5>
                        <br>
                    </div>
                </div>

                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td>
                                {{userIn.nombre}}
                            </td>
                        </tr>
                        <tr>
                            <th>Apellidos</th>
                            <td>
                                {{userIn.apellidos}}
                            </td>
                        </tr>
                        <tr>
                            <th>Correo electrónico </th>
                            <td>
                                {{userIn.correo}}
                            </td>
                        </tr>
                        <tr>
                            <th>Rol</th>
                            <td>
                                {{userIn.rol}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-bottom">
                <a routerLink="/index-pm-app/">Volver al inicio</a>
            </div>
        </form>
    </div>
</div>