<div class="signin-page wrapper">
    <div class="header">
        <a href="index.html" class="logo">
            <img src="assets/images/logo-pais-mio.png" />
        </a>
    </div>
    <form>
        <div class="form-field">
            <input type="password" placeholder="Contraseña actual">
        </div>
        <div class="form-field">
            <input type="password" placeholder="Contraseña nueva">
        </div>
        <div class="form-field">
            <input type="password" placeholder="Repetir contraseña nueva">
        </div>
        <div class="form-action">
            <input type="submit" class="btn-shadow btn-shadow-primary" value="Cambiar contraseña">
        </div>
        <div class="form-bottom">
            <a href="index-pm-app.html">Volver al inicio</a>
        </div>
    </form>
</div>