<div class="signin-page">
    <div class="wrapper">
    <div class="header">
        <a href="index.html" class="logo">
            <img src="assets/images/logo-pais-mio.png" />
        </a>
    </div>
    <form #userChangeForm="ngForm" (ngSubmit)="postChangePass();" novalidate>
        <div class="form-field">
   
            <input type="password" required #contrasenaAc="ngModel" placeholder="Contraseña actual"
             class="form-control" [class.is-invalid]="contrasenaAc.invalid && contrasenaAc.touched"
              name="contrasenaAc" [(ngModel)]="userChangePass.oldPass">
             <div *ngIf="contrasenaAc.errors && (contrasenaAc.invalid || contrasenaAc.touched)">
                <p><small class="text-danger" *ngIf="contrasenaAc.errors.required && contrasenaAc.touched">Contraseña invalida</small></p>
            </div>
        </div> 
        <div class="form-field">

            <input type="password" required #contrasenaN="ngModel" placeholder="Contraseña nueva"
             class="form-control" [class.is-invalid]="contrasenaN.invalid && contrasenaN.touched"
              name="contrasenaN" [(ngModel)]="userChangePass.newPass">
             <div *ngIf="contrasenaN.errors && (contrasenaN.invalid || contrasenaN.touched)">
                <p><small class="text-danger" *ngIf="contrasenaN.errors.required && contrasenaN.touched">Contraseña invalida</small></p>
            </div>
        </div>
        <div class="form-field">
            <input type="password" required #contrasenaNR="ngModel" placeholder=" Repetir contraseña nueva"
             class="form-control" [class.is-invalid]="contrasenaNR.invalid && contrasenaNR.touched"
              name="contrasenaNR" [(ngModel)]="userChangePass.newPassR">
             <div *ngIf="contrasenaNR.errors && (contrasenaNR.invalid || contrasenaNR.touched)">
                <p><small class="text-danger" *ngIf="contrasenaNR.errors.required && contrasenaNR.touched">Contraseña invalida</small></p>
            </div>
            <div *ngIf="comparePass() && contrasenaNR.touched; else elseBlock">
                <p><small class="text-success">contraseñas iguales</small></p>
            </div>
            <ng-template #elseBlock>
                <p><small class="text-danger">La contraseña debe ser igual</small></p>
              </ng-template>
        </div>

        <div class="form-action">
            <button button [disabled]="userChangeForm.form.invalid || (comparePass() === false)" type="submit" class="btn btn-shadow btn-shadow-primary" 
            (click)="postChangePass();contrasenaNR.reset();contrasenaN.reset();contrasenaAc.reset();">Cambiar contraseña</button>
        </div>
        
    </form>
    <div class="form-bottom">
        <a href="/index-pm-app/">Volver al inicio</a>
    </div>
</div>
</div>